.team-card {
  color: var(--gray-9);
  background-color: var(--gray-0);
  padding: 3rem;
}
.team-card__content {
  display: grid;
  padding: var(--size-3);
}
.team-card__img-box {
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
}
.team-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-card__intro {
  margin-bottom: var(--size-4);
  display: grid;
  gap: var(--size-4);
}
.team-card__title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  margin-top: 1rem;
}
.team-card__job-title {
  color: var(--gray-6);
}
.team-card__desc {
  margin-bottom: var(--size-4);
  line-height: var(--font-lineheight-3);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.8rem;
  color: #828282;
}
.team-card__mail {
  margin-bottom: var(--size-4);
  font-size: 0.95rem;
  margin-top: 0.8rem;
  font-style: italic;
  span {
    color: #416baf;
  }
}

.team-card__btn {
  margin: 0 auto;
}

.primary-btn {
  background-color: var(--blue);
  background-image: linear-gradient(
    90deg,
    var(--blue) 0%,
    var(--lightblue) 74%
  );
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.8rem 4rem;
  margin-top: 1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.primary-btn:active {
  transform: scale(0.95);
}

.primary-btn:focus {
  outline: none;
}
